<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Ha llegado un nuevo mensaje a "Yo Quiero Ayudar"</h2>
    <p>
      <ul>
        <li>Nombre: <%= @user_name %></li>
        <li>E-Mail: <%= @user_email %></li>
        <li>Mensaje: <%= @message %></li>
      </ul>
    </p>
  </body>
</html>