<div id="banner_superior">
  <%= image_tag("banner_home_a.png", :width => "762", :height => "172", :alt => "banner superior") %>
</div>
<div id="main_text">
  <h1>Sabemos que tu ya quieres ayudar!</h1>
  <p id="main_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a elit arcu, et tempus augue. Nulla nec arcu quam. In consequat leo quis nibh laoreet id elementum nisi semper. Vivamus luctus hendrerit aliquam. Etiam mollis ultrices dapibus. Maecenas ut diam diam. Nam ut urna quam. Praesent viverra lectus sed quam iaculis commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec magna ante, adipiscing quis eleifend ut, hendrerit eget ligula.

  Etiam viverra, odio ut bibendum rhoncus, nulla neque dapibus velit, non volutpat risus ante sed arcu. Quisque pretium volutpat porttitor. Vivamus nibh nibh, pulvinar nec egestas at, consequat nec sem. In hac habitasse platea dictumst. Duis faucibus ultricies urna vel fringilla. Sed porttitor, lorem vel varius posuere, orci neque interdum odio, pellentesque blandit ipsum magna eget enim. Sed nec metus eu diam lobortis vehicula non id erat. Donec est libero, malesuada lobortis lacinia eu, gravida vestibulum sem. In hac habitasse platea dictumst.

  Ut porttitor velit sit amet leo mattis lacinia. Ut imperdiet tincidunt laoreet. Nam laoreet, ipsum quis dapibus viverra, sapien ligula faucibus augue, nec facilisis metus quam nec mi. In hac habitasse platea dictumst. Proin sit amet lacus nec erat egestas accumsan. Donec id nunc non orci placerat feugiat at sagittis risus. Praesent fermentum, odio in tristique tempus, leo nunc varius velit, vitae pharetra turpis leo vel mauris. Duis eleifend massa vitae purus pharetra nec pretium odio ultricies. Suspendisse condimentum, urna sed convallis faucibus, nisi mi bibendum odio, sit amet laoreet lectus elit non ante. Quisque elit nibh, iaculis id euismod eget, ullamcorper in neque. Praesent eget nisl arcu. Nulla scelerisque tortor quis lorem adipiscing ultricies. Quisque semper, massa eu scelerisque aliquet, purus ligula mattis justo, a eleifend odio lacus vel elit.</p>
</div>