<div id="welcome_div">
  <h1>¡Bienvenido!</h1>
  <div id="banner_superior">
    <%= image_tag("banner_home_a.png", :width => "762", :height => "172", :alt => "banner superior") %>
  </div>
  <div id="centered_main_text">
    <table>
      <tr>
        <td><%= image_tag("welcome_points_11.jpg", :class => "vertically_align") %></td>
        <td><h2>¿Qué es Yo Quiero Ayudar?</h2></td>
      </tr>
      <tr>
        <td></td>
        <td><p>Es un medio por el cual se vinculan las organizaciones de apoyo y beneficio social con las personas que tienen el deseo de ayudar socialmente a la comunidad.</p></td>
      </tr>
      <tr>
        <td><%= image_tag("welcome_points_14.jpg", :class => "vertically_align") %></td>
        <td><h2>Y... ¿qué hace exactamente?</h2></td>
      </tr>
      <tr>
        <td></td>
        <td><p>Buscamos proveer un espacio interactivo en el que se den a conocer las actividades que existen cerca de nuestra comunidad, enfocadas a la mejora de la sociedad. Queremos que las organizaciones expongan no sólo sus necesidades, sino todo lo que hacen por la comunidad. Queremos proveer las herramientas adecuadas para demostrar que lo único que necesitamos es querer ayudar para poder generar un impacto positivo.</p></td>
      </tr>
      <tr>
        <td><%= image_tag("welcome_points_16.jpg", :class => "vertically_align") %></td>
        <td><h2>¿Cuál es el objetivo?</h2></td>
      </tr>
      <tr>
        <td></td>
        <td><p>Simplemente queremos propiciar una correcta comunicación entre las organizaciones no gubernamentales, centros de apoyo, asilos, orfanatos y apostolados con los voluntarios, para que el desempeño de ambas partes sea exitoso.</p></td>
      </tr>
    </table>
  </div>
</div>
